<%= form_with(model: @comment, local: true, class: 'box') do |f| %>
  <% if @comment.errors.any? %>
    <div id='error_explanation'>
      <h2>Este comentario no se pudo crear por las siguientes razones</h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :post_id, value: @post.id %>
  
  <div class='field'>
    <%= f.label :content, class: 'label', 'for': 'comment_content' %>
    <div class='control'>
      <%= f.text_field :content, class: 'input', 'id': 'comment_content' %>
    </div>
  </div>

  <div class='field'>
    <div class='control'>
      <%= f.submit 'Enviar', class: 'button is-primary' %>
    </div>
  </div>
<% end %>
